{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": "s3:*",
            "Resource": [
              {% for item in s3_readwrite %}
                "arn:aws:s3:::{{ item }}",
                "arn:aws:s3:::{{ item }}/*",
              {% endfor %}
            ]
        }
    ]
}
