RewriteEngine On

RewriteCond %{QUERY_STRING} "SERVICE(%20|\+)*%3C"
RewriteRule .* - [F,L]

{% for agent in blocked.agents | sort %}
RewriteCond %{HTTP_USER_AGENT} "{{ agent }}"{{ "" if loop.last else "\t[OR]" }}
{% endfor %}
RewriteRule .* - [F,L]


{% for origin in blocked.origins | sort %}
RewriteCond %{HTTP:X-Forwarded-For} "^{{ origin | replace(".", "\\.") }}\b"{{ "" if loop.last else "\t[OR]" }}
{% endfor %}
RewriteRule .* - [F,L]

{% if throttled is defined%}
{% for ip in throttled | sort %}
SetEnvIf    X-Forwarded-For      "^{{ ip | replace(".", "\\.") }}\b"    QS_ThrottleClient=1
{% endfor %}
QS_EventPerSecLimit          QS_ThrottleClient            3
{% endif %}
