127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost6 localhost6.localdomain6

{% for host in groups['aws_ec2'] %}
{{ "{:<16}".format(hostvars[host].private_ip_address) }} {{ "{:>24}".format(host| replace('-','_')) }} {{ "{:>24}".format(host) }} {{ "{:>24}".format(host| replace('-','_')) }}.{{ domain }} {{ "{:>24}".format(host) }}.{{ domain }}
{% endfor %}
