server {
  listen       80;
  server_name  {{ hostname }}.{{ domain }} {{ load_balancer.pres }} {{ target_domain }};

{% if nginx_secure is defined %}
{% if nginx_secure[env] is defined %}
  auth_basic "Protected";
  auth_basic_user_file secure/htpasswd;
{% endif %}
{% endif %}

  proxy_intercept_errors on;
  error_page 502 503 504 /error/50x.html;

  gzip on;
  gzip_types text/plain text/xml text/css text/javascript application/javascript text/csv application/json;

  keepalive_timeout 150s;
  proxy_read_timeout 150s;
  proxy_set_header Host $http_host;
  proxy_set_header X-request-uri $request_uri;
  proxy_set_header X-Request-Id $request_id;

  set $blocked_request "";
  if ($blocked_request_agent)    { set $blocked_request $blocked_request_agent; }
  if ($blocked_request_location) { set $blocked_request $blocked_request_location; }
  if ($blocked_request_origin)   { set $blocked_request $blocked_request_origin; }

# if whitelisting is required uncomment time line
# if ($whitelisted) { set $blocked_request $whitelisted; }

  if ($blocked)    { return 403; }

  access_log  /var/log/nginx/access.log info_json;

  include /etc/nginx/conf.d/location.d/*.conf;
}
