{
  "id": 2,
  "orgId": 1,
  "name": "Elasticsearch",
  "type": "elasticsearch",
  "uid": "elasticsearch",
  "typeLogoUrl": "public/app/plugins/datasource/elasticsearch/img/elasticsearch.svg",
  "access": "proxy",
  "url": "http://{{ elasticsearch_container.name }}:{{ elasticsearch_container.port }}",
  "password": "",
  "user": "",
  "database": "[fluentd-]YYYYMMDD",
  "basicAuth": false,
  "isDefault": false,
  "jsonData": {
    "esVersion": "7.10.0",
    "includeFrozen": false,
    "interval": "Daily",
    "logLevelField": "",
    "logMessageField": "",
    "maxConcurrentShardRequests": 5,
    "timeField": "@timestamp"
  },
  "readOnly": false
}
