{
  "id": 2,
  "orgId": 1,
  "name": "Elasticsearch",
  "type": "elasticsearch",
  "uid": "elasticsearch",
  "typeLogoUrl": "public/app/plugins/datasource/elasticsearch/img/elasticsearch.svg",
  "access": "proxy",
  "url": "{{ elasticsearch_ssl_enabled | default(false) | ternary('https', 'http') }}://{{ elasticsearch_container.name }}:{{ elasticsearch_container.port }}",
  "password": "{{ elasticsearch.password }}",
  "tlsSkipVerify": true,
  "user": "elastic",
  "database": "[fluentd-]YYYYMMDD",
  "basicAuth": false,
  "isDefault": false,
  "jsonData": {
    "esVersion": "{{ elasticsearch.version }}",
    "includeFrozen": false,
    "interval": "Daily",
    "logLevelField": "",
    "logMessageField": "",
    "maxConcurrentShardRequests": 5,
    "timeField": "@timestamp"
  },
  "readOnly": false
}
