namespace: epimorphics

name: deployment

version: __RELEASE__

readme: README.md

authors:
- Andy
- Dave
- Mihajlo

description: Epimorphics Ansible Deployment collection

license:
- GPL-2.0-or-later

tags: []

dependencies: {}

# The URL of the originating SCM repository
repository: http://github.com/epimorphics/master-ansible-deployment

# The URL to any online docs
documentation: http://github.com/epimorphics/master-ansible-deployment

# The URL to the homepage of the collection/project
homepage: http://github.com/epimorphics/master-ansible-deployment

# The URL to the collection issue tracker
issues: http://github.com/epimorphics/master-ansible-deployment

