#! /bin/bash

YESTERDAY=$(date -d '-1 day' +%Y-%m-%d)
MONTH=$(date -d '-1 day' +%F)

{{ parse.file }} -d $YESTERDAY -o {{ parse.dest }}/$MONTH.html -s s3://{{ }} /logs -w $HOME -c {{ parse.cache }} 2>&1 | logger -t cron && ln -fs $MONTH.html {{ parse.dest }}/index.html
