---
groups:
- name: docker.rules
  rules:
  - alert: Container Stopped
    expr: docker_n_containers_stopped > 1
    labels:
      severity: critical
    annotations:
{%- raw %}
      message: "Docker Container Stopped on host {{ $labels.host }}"
{% endraw %}
      runbook_url: "https://github.com/epimorphics/master-ansible-deployment/blob/main/roles/metrics/templates/prometheus-rules/Readme.md#user-content-container-stopped"
