{
  "template": {
    "settings": {
      "number_of_shards": 1,
      "number_of_replicas": 0,
      "index": {
        "lifecycle": {
          "name": "fluentd"
        }
      }
    },
    "mappings": {
      "properties": {
        "log_request_time": {
          "type": "float"
        },
        "log_duration": {
          "type": "integer"
        },
        "log_id": {
          "type": "text"
        },
        "log_pid": {
          "type": "long"
        },
        "log_size": {
          "type": "long"
        },
        "log_status": {
          "type": "integer"
        }
      }
    }
  },
  "index_patterns": ["fluentd-*"]
  }
}
