RewriteEngine On

RewriteCond %{QUERY_STRING} "SERVICE(%20|\+)*%3C"
RewriteRule .* - [F,L]

{% for agent in blocked.agents | sort %}
RewriteCond %{HTTP_USER_AGENT} {{ agent }}
RewriteRule .* - [F,L]

{% endfor %}


{% for origin in blocked.origins | sort %}
RewriteCond %{HTTP:X-Forwarded-For} "{{ origin }}"
RewriteRule .* - [F,L]

{% endfor %}
