RequestHeader set "x-request-id" "%{UNIQUE_ID}e" 

# QoS quiet
RequestHeader   setIfEmpty      X-Forwarded-For     "10.10.10.1" early

SetEnvIf X-Forwarded-For "^." is-forwarder
LogFormat "%h %l %u %t \"%r\" %>s %b  \"%{Referer}i\" \"%{User-Agent}i\" %L %D %{UNIQUE_ID}e %{QS_ConnectionId}e %{mod_qos_ev}e %{mod_qos_cr}e %{mod_qos_con}e" combined-duration
LogFormat "%{X-Forwarded-For}i %l %u %t \"%r\" %>s %b  \"%{Referer}i\" \"%{User-Agent}i\" %L %D %{UNIQUE_ID}e %{QS_ConnectionId}e %{mod_qos_ev}e %{mod_qos_cr}e %{mod_qos_con}e" combined-duration-fwd
CustomLog   /opt/bitnami/apache2/logs/access_log combined-duration-fwd  env=is-forwarder
CustomLog   /opt/bitnami/apache2/logs/access_log combined-duration      env=!is-forwarder
