{
  "uid":"slack",
  "name":"Slack",
  "type":"slack",
  "isDefault":false,
  "settings": {
    "recipient": "{{ slack.channel }}",
    "username": "{{ slack.username }}",
    "url": "{{ slack.webhook }}"
  }
}
