{
  "id": 5,
  "orgId": 1,
  "name": "InfluxDB2",
  "type": "influxdb",
  "uid": "influxdb2",
  "typeName": "InfluxDB",
  "typeLogoUrl": "public/app/plugins/datasource/influxdb/img/influxdb_logo.svg",
  "access": "proxy",
  "url": "http://{{ influxdb2_container.name }}:{{ influxdb2_container.port }}",
  "user": "{{ influxdb_admin }}",
  "database": "_internal",
  "basicAuth": false,
  "isDefault": false,
  "jsonData": {
    "defaultBucket": "telegraf",
    "httpMode": "POST",
    "organization": "epimorphics",
    "version": "Flux"
  },
  "secureJsonData": {
    "token": "{{ password.influxdb.admin }}"
  },
  "readOnly": false
}
