{
  "template": {
    "settings": {
      "index": {
        "lifecycle": {
          "name": "fluentd"
        }
      }
    },
    "mappings": {
      "properties": {
        "log_duration": {
          "type": "integer"
        },
        "log_pid": {
          "type": "long"
        }
      }
    }
  },
  "index_patterns": [
    "fluentd-*"
  ]
}
