---
env: "infra"

az:
  - "{{ region }}a"
  - "{{ region }}b"
  - "{{ region }}c"

ec2_default_image: "{{ ec2_images[region] }}"

ec2_state: "running"
replace_instances: True

elastic_ip_groups: []
email: "{{ instance }}-ops-alerts@epimorphics.com" # Note {{ domain }} is .net

hostname_root: "{{ instance }}-{{ band | default(env) }}" # basis for the hostname
hostname_index: true                      # are hosts numbered (even if there is only 1)

iam_role: "{{ instance }}-ec2"

iam_policies:
 - "arn:aws:iam::{{ aws.account }}:policy/{{ sns.policy.name }}"
 - "arn:aws:iam::aws:policy/AmazonEC2ContainerRegistryReadOnly"

key:
  name: "{{ keyname | default(instance) }}"
  material: "{{ lookup('file', 'id_rsa.pub') }}"

security_group: "default"

s3_readwrite:
  - "{{ s3_bucket }}"
  - "{{ s3_logs }}"

# staff: "{{ vault_staff }}"

ssl_certificate_id: "arn:aws:acm:eu-west-1:{{ aws.account_id }}:certificate/aa40074e-6439-4158-b7c0-9fa8a5002718"

vpc:
  name: "{{ instance }}-vpc"
  cidr: "{{ internal_subnet }}"

lambda:
  name: "sns2slack"
  description: "SNS to Slack Webhook"
  s3_bucket: "epi-repository"
  runtime: "python3.10"
  version: "v3.01"

elb:
  timeout:  120 # seconds

sns:
  policy:
    name: "{{ instance }}-alert-publisher"
    description: "SNS Alert Publication"
  topic:
    name:
      email: "{{ sns_email }}"
      slack: "{{ sns_slack }}"
    display_name:
      email: "{{ notification }} - Email"
      slack: "{{ notification }} - Slack"
    delivery_policy:
      http:
        defaultHealthyRetryPolicy:
          minDelayTarget: 2
          maxDelayTarget: 4
          numRetries: 3
          numMinDelayRetries: 0
          numMaxDelayRetries: 3
          numNoDelayRetries: 0
          backoffFunction: "linear"
        disableSubscriptionOverrides: True
        defaultThrottlePolicy:
          maxReceivesPerSecond: 10
