#! /bin/bash

YESTERDAY=$(date -d '-1 day' +%F)
MONTH=$(date -d '-1 day' +%Y-%m)

{{ parse.file }} -d $YESTERDAY -g {{ parse.dest }}/$MONTH.html -m '{{ parse.types | join('|') }}' -s {{ parse.src }} -w {{ parse.directory }}/month -c {{ parse.directory }}/month/cache 2>&1 | logger -t cron && ln -fs $MONTH.html {{ parse.dest }}/index.html
