#! /bin/bash

YESTERDAY=$(date -d '-1 day' +%F)
FILENAME=$(date -d $YESTERDAY +%G-%V).html

{{ parse.file }} -d $YESTERDAY -g {{ parse.dest }}/$FILENAME -m '{{ parse.types | join('|') }}' -s {{ parse.src }} -w {{ parse.directory }}/daily -c {{ parse.directory }}/daily/cache 2>&1 | logger -t cron && ln -fs $FILENAME {{ parse.dest }}/index.html
